
[data-select-custom].default {min-width: 17em; margin: 0em;}

[data-select-custom].default [data-selected-option]
{
	width: 100%;
	background: linear-gradient(90deg, rgba(235,237,243,0) 0%, rgba(235,237,243,1) 5%, rgba(235,237,243,0.5116247182466737) 37%, rgba(235,237,243,0.6796919451374299) 63%, rgba(235,237,243,1) 95%, rgba(235,237,243,0) 100%);
	color: #6c757d;
	padding: .47rem .7rem;
	border-left: solid 2px #a5b8c9; border-right: solid 2px #a5b8c9;
	border-bottom: solid 2px transparent; border-top: solid 2px transparent;
	border-radius: 0.2em; border-top-left-radius: 0.6em; border-top-right-radius: 0.6em;
	
	transition: box-shadow 0.4s ease-in, font 0.4s ease-in, border 0.9s ease-in;
}

[data-select-custom].default [data-selected-option].highlight.focus
{
	font-weight: 500;
/* 	box-shadow: 0px 0px 19px 0px #ccc, 0px 5px 5px 0px #ccc; */
	
	animation-name: select-highlight;
  	animation-duration: 0.9s;
  	animation-iteration-count: 1;
  	animation-fill-mode: forwards;
}

@keyframes select-highlight 
{
  0%   {box-shadow: 0px 0px 0px 0px #ccc, 0px 0px 0px 0px #ccc;}
  85%  {box-shadow: 0px 0px 25px 0px #ccc, 0px 7px 7px 0px #ccc;}
  100% {box-shadow: 0px 0px 19px 0px #ccc, 0px 5px 5px 0px #ccc;}
}

[data-select-custom].default div.sipka img
{
	position: absolute; right: 14px; top: 50%; 
	transform: translateY(-50%) rotateZ(180deg) rotateX(-53deg); transition: transform 0.45s ease;
	width: 1em;
	filter: invert(79%) sepia(4%) saturate(1283%) hue-rotate(167deg) brightness(92%) contrast(90%);
}
[data-select-custom].default[data-opened="1"] div.sipka img
{
	transform: translateY(-50%) rotateZ(180deg) rotateX(-25deg);
	width: 1em;
	filter: invert(15%) sepia(50%) saturate(5947%) hue-rotate(347deg) brightness(115%) contrast(100%);
}

[data-select-custom].default [data-options]
{
	transition: height 0.4s ease;
	background: white; width: 100%;
	top: 97%;
/* 	transform: translateY(-2px);	 */
}
[data-select-custom].default [data-options] [data-option],
[data-select-custom].default [data-options] [data-optgroup-label]
{
	padding: .47rem .7rem;
	
	box-shadow:
    /* left */
    inset 2px 0 0 0 #a5b8c9,
    /* right  */
    inset -2px 0 0 0 #a5b8c9,
    /* bottom */
    inset 0 0px 0 0 #a5b8c9;
	
	color: #6c757d;
	background: linear-gradient(90deg, rgba(235,237,243,0) 0%, rgba(235,237,243,1) 5%, rgba(235,237,243,0.5116247182466737) 37%, rgba(235,237,243,0.6796919451374299) 63%, rgba(235,237,243,1) 95%, rgba(235,237,243,0) 100%);
}


[data-select-custom].default [data-options] [data-optgroup-label]
{
	cursor: default; color: #ed1c24;
	font-weight: 400; text-decoration: underline;
}

[data-select-custom].default [data-options] [data-optgroup] [data-option]
{
	padding-left: 1.5rem;
}


[data-select-custom].default [data-options] [data-option]:hover:not([data-disabled])
{
	color: #63676b; font-weight: 500;
	background: linear-gradient(90deg, rgba(235,237,243,0) 0%, rgba(235,237,243,1) 5%, rgba(235,237,243,0.8421569311318278) 37%, rgba(235,237,243,0.8309524493391106) 63%, rgba(235,237,243,1) 95%, rgba(235,237,243,0) 100%);

	box-shadow:
    /* left */
    inset 2px 0 0 0 #ed1c24,
    /* right  */
    inset -2px 0 0 0 #ed1c24,
    /* bottom */
    inset 0 0px 0 0 #ed1c24;
}

[data-select-custom].default [data-selected-option].focus
{
	color: #63676b; font-weight: 500;
	border-left: solid 2px #ed1c24; border-right: solid 2px #ed1c24;
	border-bottom: solid 2px transparent; border-top: solid 2px transparent;
	
	background: linear-gradient(90deg, rgba(235,237,243,0) 0%, rgba(235,237,243,1) 5%, rgba(235,237,243,0.8421569311318278) 37%, rgba(235,237,243,0.8309524493391106) 63%, rgba(235,237,243,1) 95%, rgba(235,237,243,0) 100%);
}
