
input:focus,
textarea:focus
{
	outline: none;
}

button
{
	border: 0;
	cursor: pointer;
}


/* SELECT */
/* ------ */
[data-select-custom] {position: relative; cursor: pointer;}
[data-select-custom] [data-options]
{
	position: absolute; visibility: hidden; z-index: 5;
	max-height: 19em; overflow-y: auto;
}

[data-select-custom][data-disabled],
[data-select-custom] [data-options] [data-option][data-disabled]
{
	opacity: 0.5; cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
